<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Heatmap!</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src="https://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>

</head>

<body>
<div id="container">
   <a href="https://maps.google.com/locationhistory/kml?startTime=0&endTime=9000000000000" target="_blank" id="takeoutLink">CLICK HERE
     <div id="takeoutInfo">to download your location history from google</div>
   </a>
   <div id="dragPrompt">
     NOW DRAG IT HERE
     <div id="dragPromptTiny">
       *your data will NOT be sent anywhere. this app will not make any
       more server requests, other than download map tiles. closing this tab will destroy your browser's
       copy of whatever you put in here. <br><br> if you were 'unable to
       fetch' your history, your account has location history
       turned off. check your settings. <br>or leave them be. 
    </div>
   </div>
     <div id="loader">Loading...</div>

</div>
   <div id="map"></div>
</body>

<script src="{{ url_for('static', filename='bower_components/togeojson/togeojson.js') }}"></script>
<script src="{{ url_for('static', filename='bundle.js') }}"></script>
</html>
